{% extends "../base.html" %}
{% load static %}

{% block title %} Basket summary {% endblock %}

{% block content %}

<div class="container">
  <div class="row" id="basket-header" hx-get="{% url 'basket:update-details' %}"
      hx-trigger="load delay:0.5s, basketUpdatedEvent from:body"   >
    {% include "store/basket/_details.html" %}
  </div>
  <br />
  <div class="row g-3">
    {% if basket|length > 0 %}
    <div class="col-12">
      {% for item in basket %}
        {% with product=item.product %}
          <div id="product-{{ product.id }}" class="card mb-3 border-0 product-item" data-index="{{product.id}}">
            <div class="row g-0">
              <div class="col-md-10 ps-md-3">
                <div class="card-body p-1">
                  <a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
                    <p class="card-text pb-3">{{product.title}}</p>
                  </a>
                    <button hx-delete="{{ product.remove_from_basket_url }}" id="delete-button-{{product.id}}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#product-{{ product.id }}" hx-swap='outerHTML'> Delete
                    </button>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <br>
  <div class="row" id="basket-footer" hx-get="{% url 'basket:update-footer' %}"
      hx-trigger="load delay:0.5s, basketUpdatedEvent from:body"   >
    {% include "store/basket/_footer.html" %}
  </div>
</div>


{% endblock %}
